html,
body,
#root,
.App {
	height: 100%;
}

.App {
	display: flex;
	justify-content: center;
}

.Board {
	width: 200px;
	height: 400px;
	margin-bottom: 20px;
	align-self: flex-end;
	background-color: lightgrey;
	border-width: 1px;
	border-style: solid;
	border-color: rgba(0, 0, 0, 0.493);
}

.PiecePart {
	width: 20px;
	height: 20px;
	box-sizing: border-box;
	border-collapse: collapse;
	border-width: 1px;
	border-style: solid;
	border-color: white;
}
